* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent; /*usunięcie suwaków na osi x i osi y*/
}

/*background video at the end */

main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(8, 2, 34, 0.25), rgba(6, 0, 32, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  padding: 5rem 15rem;
}
nav p {
  cursor: pointer;
  font-size: 5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 0rem 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background: red;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
nav ul li a:hover::after {
  transform: scale(1, 1);
}
/*BURGER STYLING */
.hamburger {
  position: fixed;
  width: 40px;
  height: 30px;
  right: 30px;
  top: 25px;
  cursor: pointer;
  display: none;
}
.hamburger__line {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s;
}
.hamburger__line--top {
  top: 0;
}

.hamburger__line--mid {
  top: 50%;
  transform: translateY(-50%); /*patent na wyśrodkowanie w positon absolute*/
}

.hamburger__line--bottom {
  bottom: 0;
}

.hamburger--open .hamburger__line--mid {
  opacity: 0;
  transform: translateY(-50%) translateX(100%);
}
.hamburger--open .hamburger__line--top {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
.hamburger--open .hamburger__line--bottom {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}
h1 {
  font-size: 8rem;
}
.content {
  text-align: center;
  margin: 50px 0px;
}
.content button {
  padding: 20px 50px;
  border-radius: 30px;
  margin: 30px 0px;
  background: inherit;
  border: 2px solid white;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}
.content button:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
  transform: scale(1.1);
}

.background-video {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .navbar--active {
    transform: translateX(0);
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: rgb(106, 116, 129);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-evenly; /*zmiana osi, rozłożenie na stronie*/
    transform: translateX(100%); /*element poza widocznym obszarem  */
    transition: transform 0.3s ease; /*animacja */
  }
  .navbar--active ul {
    transform: translateX(
      0
    ); /*przesunięty z powrotem na widoczny obszar gdy jest active*/
  }
  nav p {
    position: absolute;
    top: 10px;
    left: 50px; /*dostosowanie logo do max-width 900px*/
  }
}

/*TICKETS PAGE*/
main {
  position: fixed;
}
.container-tickets {
  position: absolute;
  top: 18%;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
.container-tickets__data {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  color: red;
}
.container-tickets__content {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
  font-size: 2.5rem;
}
.container-tickets__content--price {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
  font-size: 2.5rem;
}
.days-event-boxes {
  display: flex;
  gap: 10%;
  justify-content: center;
}

.days-events-pick {
  border: 2px solid white;
  width: 15%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}

.days-events-pick:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
}

.ticket-price {
  display: flex;
  padding: 1rem 1rem;
  font-size: 2rem;
  padding-left: 18%;
}
.add-to-cart-field {
  padding-left: 18%;
}

.add-to-cart-field button {
  font-size: 2rem;
  background-color: inherit;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 0.5rem;
  cursor: pointer;
  min-height: 5rem;
}
.add-to-cart-field button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add-to-cart-field input {
  width: 4%;
  min-height: 4rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  background-color: inherit;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.event-schedule__list {
  display: flex;
  justify-content: space-evenly;

  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 80%;
  padding: 1rem;
}

.event-schedule__li ul {
  padding: 5rem;
}
.event-schedule__li ul li {
  padding-right: 200rem;
}

.event-schedule {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.event-schedule__list li strong {
  color: red;
}

/*CONTACT PAGE*/
.container-contact-us {
  display: flex;
  flex-direction: column;
}
.contact-us-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_and_info h3 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
}
.title_and_info {
  width: 70%;
  font-size: 1.8rem;
}
.contact-us-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  font-size: 1.8rem;
}
.icon-address-box,
.icon-phone-box,
.icon-instagram-box {
  padding: 3rem;
  font-size: 3rem;
}
.icon-title strong {
  font-size: 2.5rem;
  color: red;
}

.right-form {
  background-color: #fff;
  opacity: 0.85;
  min-width: 400px;
  min-height: 500px;
  border-radius: 10px;
}
.right-form form {
  color: black;
  text-align: center;
  padding: 3rem 0;
  font-size: 3rem;
}

.right-form form .inputBox input,
.right-form form .inputBox textarea {
  width: 90%;
  border: none;
  border-bottom: 2px solid black;
  padding: 20px;
  outline: none;
}
.right-form form .inputBox {
  position: relative;
}
.right-form form .inputBox span {
  position: absolute;
  left: 0;
  bottom: 0;
}

.input-send {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.input-send:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 121, 30, 0.9);
}

.inputBox input {
  padding-top: 5rem;
}

/*GALLERY PAGE*/
.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.gallery-btn {
  font-size: 3rem;
  padding: 3rem;
}
.gallery-menu {
  margin: 1rem;
}

.gallery-container h1 {
  text-align: center;
  font-size: 3rem;
}

.gallery-container h1 span {
  color: red;
}
.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.gallery-menu a {
  text-align: center;
  transition: 0.3s ease;
}

.gallery-menu a:hover {
  color: red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-in-gallery {
  max-height: 30rem;
  object-fit: cover;
  max-width: 30rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  min-width: 15%;
  min-height: 12%;
}

.photo-in-gallery img {
  transition: 0.5s ease;
}
.photo-in-gallery img:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.photo-in-gallery:hover {
  box-shadow: rgba(167, 167, 167, 0.25) 0px 54px 55px,
    rgba(131, 131, 131, 0.12) 0px -12px 30px,
    rgba(199, 199, 199, 0.12) 0px 4px 6px,
    rgba(136, 136, 136, 0.17) 0px 12px 13px,
    rgba(207, 207, 207, 0.09) 0px -3px 5px;
}

.photo-in-gallery-child {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.background-gallery-page video {
  filter: brightness(0.3);
}

/*popup styling */

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup.hidden {
  display: none;
}
.popup__img {
  max-width: 60%;
  max-height: 60%;
}

.popup__close {
  position: fixed;
  top: 8rem;
  right: 8rem;
  font-size: 8rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.popup__close:hover {
  color: red;
}
