* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent; /*usunięcie suwaków na osi x i osi y*/
}

/*background video at the end */

main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(8, 2, 34, 0.25), rgba(6, 0, 32, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  padding: 5rem 15rem;
}
nav p {
  cursor: pointer;
  font-size: 5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 0rem 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background: red;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
nav ul li a:hover::after {
  transform: scale(1, 1);
}
/*BURGER STYLING */
.hamburger {
  position: fixed;
  width: 40px;
  height: 30px;
  right: 30px;
  top: 25px;
  cursor: pointer;
  display: none;
}
.hamburger__line {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s;
}
.hamburger__line--top {
  top: 0;
}

.hamburger__line--mid {
  top: 50%;
  transform: translateY(-50%); /*patent na wyśrodkowanie w positon absolute*/
}

.hamburger__line--bottom {
  bottom: 0;
}

.hamburger--open .hamburger__line--mid {
  opacity: 0;
  transform: translateY(-50%) translateX(100%);
}
.hamburger--open .hamburger__line--top {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
.hamburger--open .hamburger__line--bottom {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}
h1 {
  font-size: 8rem;
}
.content {
  text-align: center;
  margin: 50px 0px;
}
.content button {
  padding: 20px 50px;
  border-radius: 30px;
  margin: 30px 0px;
  background: inherit;
  border: 2px solid white;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
}

.content button:hover {
  background: white;
  color: rgba(0, 0, 0, 1);
  transform: scale(1.1);
}

.background-video {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .navbar--active {
    transform: translateX(0);
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: rgb(106, 116, 129);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-evenly; /*zmiana osi, rozłożenie na stronie*/
    transform: translateX(100%); /*element poza widocznym obszarem  */
    transition: transform 0.3s ease; /*animacja */
  }
  .navbar--active ul {
    transform: translateX(
      0
    ); /*przesunięty z powrotem na widoczny obszar gdy jest active*/
  }
  nav p {
    position: absolute;
    top: 10px;
    left: 50px; /*dostosowanie logo do max-width 900px*/
  }
}
